
<%= simple_form_for(@fishing_area) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :country %>
    <%= f.input :location_id, collection: Country.all.order(:name), as: :grouped_select, group_method: :locations %>
    <%= f.input :fishery_id, collection: Country.all.order(:name), as: :grouped_select, group_method: :fisheries %>
    <%= f.input :description %>
    <%= f.association :body_of_water %>
    <%= f.input :thumbnail %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
