<div class="container" style="margin-top: 2em">
  <%= will_paginate(@fishing_areas, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @fishing_areas.each do |fishing_area| %>
    <div class="col">
      <div class="card h-100">
        <img class="card-img-top" src="<%= url_for fishing_area.optimized_image(fishing_area.thumbnail, 220, 180) %>" alt="alt" />
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to fishing_area.name, fishing_area , class: "stretched-link" %>
          </h5>
          <p class="card-text"><%= fishing_area.description.truncate_words(50)  %></p>
          <p class="card-text">
            <small class="text-muted">
                Created <%= time_ago_in_words(fishing_area.created_at) %> by
                <%= fishing_area.user.username %> | <%= pluralize(fishing_area.views, "View") %> | 0 comments
            </small>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
