<div class="container" style="margin-top: 2em">
  <div class="jumbotron">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="display-4"> <%= @fishing_area.name %> </h1>
      </div>
      <% if current_user==@fishing_area.user or current_user.admin %>
        <div class="col">
            <div class="dropdown  float-right">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Edit/Delete
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to "Edit #{@fishing_area.name}", edit_fishing_area_path(@fishing_area), class:"dropdown-item" %>
                <%= link_to "Delete #{@fishing_area.name}", @fishing_area, class:"dropdown-item", method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
        </div>
      <% end %>
    </div>


    <hr class="my-4">
    <div class="media">
      <img class="img-fluid" src="<%= url_for @fishing_area.optimized_image(@fishing_area.thumbnail, 800, 400) %>" alt="fishing_area" width="100%"  />

    </div>
    <p><%= @fishing_area.description%></p>
    <p class="lead">
      info about creation and owner add accordion or dropdown cards
    </p>
  </div>


  </div>
