<div class="container">

  <h1 class="display-4"><%= @fishery.to_label %> </h1>
  <% if @fishery.licence_issuer != nil %>
    <p> Licence issuer: <%= @fishery.licence_issuer.name %> </p>
  <% else %>
    <p> Not protected fishery </p>
  <% end %>

  <% if current_user.admin %>
  <div class="d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to 'Edit', edit_country_fishery_path(@country,@fishery), class: "btn btn-primary" %>
      <%= link_to 'Destroy', country_fishery_path(@country,@fishery), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
      <%= link_to 'Back', country_fisheries_path(@country), class: "btn btn-secondary" %>
    </div>
  </div>
  <% end %>
  <br>
  <h2> Fishing areas associated to <strong><%= @fishery.to_label %>, <%=@fishery.country.name%></strong> </h2>
  <%= render 'fishing_areas/list_fishing_areas', fishing_areas: @fishing_areas %>
  <% if current_user.admin %>
    <%= link_to 'Edit', edit_country_fishery_path(@country,@fishery) %>
    <%= link_to 'Destroy', country_fishery_path(@country,@fishery), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <%= link_to 'Back', country_fisheries_path(@country) %>
  </div>
